%blue {
    color: blue;
}
.pageBackground {
   background-color:transparent;
   height: 200;
}
.errorTitle{
    color:#1a1a1a;
    font-size:34;
    font-weight: bold;
    text-align: left;    
}
.errorDesc{
    color:#1a1a1a;
    font-size:18;
    text-align: left;    
}