.horizontal{
    align-self: auto;
}

.flex{
    flex: 1;
}

.textRahasia{
    @extend .flex;
    text-align: right;
    font-size: 14;
    padding-top:5;        
    
}

.dokumenTitle{
    margin-bottom:10;
}

.rowContent{
    flex-direction: row;
    width: 80;
}

.iconRahasia{
    height: 20;
    width: 20;
    text-align: center;
    margin-top: 5;    
}
